<div class="geocoding-card">
  <div class="flex items-center my-1">
    <span class="mr-2 text-violet-700"><i class="fa-solid fa-user"></i></span>
    <h2 class="geocoding-username"><%= user.username %></h2>
  </div>
  <div class="flex items-center my-1">
    <span class="mr-2 text-violet-700"><i class="fa-solid fa-address-book"></i></span>
    <p class="geocoding-address"><%= user.address %></p>
  </div>
</div>
