<div class="regular-container">
  <div class="thick-container">
    <h1 class="main-title">Meet the bookworm community </h1>
  </div>

  <h2 class="main-subtitle">No two <span class="pacifico text-2xl">readers</span> are alike and that’s what makes the community so special.</h2>

</div>

<div class="">
  <div class="swiper mySwiper" data-controller="super-booksie">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
      <% @booksies.first(6).each_with_index do |booksie, index| %>
        <div class="swiper-slide">
          <div class="px-2">
            <div class="booksie-card_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booksie.photo.key, crop: :fill %>'); background-size: cover; background-position: center;"></div>
            <h2 class="booksie-card_username">@<%= booksie.username %></h2>
            <p class="px-2 text-center mt-4 leading-loose  text-neutral-700 font-light text-sm"><%= @testimonials[index] %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>
</div>

<div class="regular-container mt-12">
  <div class="thick-container">
    <h1 class="main-title mb-24">We are by your side </h1>
  </div>

  <div class="lg:flex md:flex align-center justify-between">
    <div class="left lg:w-1/2 md:w-1/2 small-paragraph my-8 md:my-0 lg:my-0">
      <p>We know trust is a priority any time someone is in possession of your belongings. Booksie allows you to set strict requirements for who can book and to get to know readers before their reservation.</p>
      <p>If something does come up, we have your back with our Book Guarantee and Book Protection Insurance.</p>
    </div>
    <div class="right">
      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-6"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Ability to require official ID prior to booking</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-6"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Booking Rules that users must accept</p>
      </div>

       <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-6"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Read comments from previous bookings</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-6"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Free $1 million property damage protection</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-6"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">$1 million free liability insurance</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-6"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">24/7 global customer service</p>
      </div>





    </div>
  </div>


</div>
