<div class="regular-container">
  <div class="thick-container">
    <h1 class="main-title">Meet the bookworm community </h1>
  </div>

  <h2 class="main-subtitle">No two <span class="pacifico text-2xl">readers</span> are alike and that’s what makes the community so special.</h2>

  <div class="flex justify-evenly mt-12" data-controller="super-booksie">

    <% @booksies.each do |booksie| %>
      <div class="booksie-card">
        <div class="booksie-card_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booksie.photo.key, crop: :fill %>'); background-size: cover; background-position: center;">

        </div>

        <div class="swiper-pagination">

        </div>
        <div class="booksie-card_description">
          <h2 class="booksie-card_username">@<%= booksie.username %></h2>
        </div>

      </div>
    <% end %>

  </div>


</div>
