<div class="regular-container">
  <div class="thick-container">
    <h1 class="main-title">Meet the bookworm community </h1>
  </div>

  <h2 class="main-subtitle">No two <span class="pacifico text-2xl">readers</span> are alike and that’s what makes the community so special.</h2>

  <div data-controller="super-booksie">

    <% @booksies.each do |booksie| %>
      <div class="booksie-card">
        <div class="booksie-card_image">
          <%= cl_image_tag booksie.photo.key, class: 'booksie-card_img', crop: :fill %>
        </div>

        <div class="swiper-pagination">

        </div>
        <div class="booksie-card_description">
          <h2 class="booksie-card_username"><%= booksie.username %></h2>
        </div>

      </div>
    <% end %>

  </div>


</div>
