<div class="footer mt-8">
  <div class="flex items-center justify-center h-16">
    <h3>Coded with <span class="mx-2 text-2xl text-violet-700"><i class="fa-solid fa-star"></i></span> by </h3>
    <a href="https://github.com/cvaldivia83">
      <div style="background-image: url('https://avatars.githubusercontent.com/u/56138978?v=4'); background-size: cover" class="w-10 h-10 mx-4 rounded-full"></div>
    </a>
  </div>
  <a href="https://www.linkedin.com/in/carla-cabrera-valdivia/">
    <span class="text-violet-700 text-3xl text-center block"><i class="fa-brands fa-linkedin"></i></span>
  </a>



</div>
