<div class="relative h-64">
  <div class="hero-text">
    <h2 class="text-black text-xs tracking-wider">reading more, reading better</h2>
    <h1 class="text-6xl font-bold tracking-tighter">Booksie</h1>
    <p>Connect to your next favorite book.</p>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn-violet-pink-solid'  %>
  </div>
  <div class="hero-image">
    <img src="" alt="">
  </div>
</div>
