<div class="relative h-80 flex justify-evenly items-center" data-controller="hero">
  <div class="hero-text">
    <h2 class="text-black text-xs tracking-wider my-4"><span class="typed" data-hero-target="motto"></span></h2>
    <h1 class="text-6xl font-bold tracking-tighter">Booksie</h1>
    <p class="mb-8">Connect to your next favorite book.</p>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn-violet-pink-solid'  %>
  </div>
  <div class="hero-image mt-8 hidden md:block">
    <img src="https://res.cloudinary.com/dd7pbokmj/image/upload/v1672282890/books_haen0v.svg" alt="book_stack" class="h-56">
  </div>
</div>

<div class="bg-neutral-100 py-16 mt-12">
  <div class="container mx-auto px-4">

    <div class="md:flex md:justify-between md:items-center">
      <h2 class="text-3xl font-bold leading-10 md:text-left text-center">Your next chapter, made possible by Book<span class="font-pacifico text-4xl">sie</span></h2>

      <div class="">
        <h2 class="font-medium text-xl text-center md:mt-0 mt-4">Share what you love</h2>
        <p class="text-sm font-light leading-loose mt-4">Indulge your love for books and stories when you become part of Booksie. For those who are drawn to authentic literature.</p>
      </div>

    </div>
  </div>
</div>

<div class="container px-4 py-12 mx-auto">
  <h2 class="text-3xl font-bold text-center">How it works</h2>

  <div class="md:grid md:grid-cols-3 md:gap-10 py-12">

    <div class="card">
      <div class="image h-56" style="background-image: url('https://res.cloudinary.com/dd7pbokmj/image/upload/v1672282445/mobile-login_esuuft.svg'); background-size: cover"></div>
      <h2 class="font-semibold text-base mt-4">Sign up to Booksie</h2>
      <p class="text-xs font-light mt-2">Get started right now! Sign up and start looking for new readings.</p>
    </div>

    <div class="card">
      <div class="image h-56" style="background-image: url('https://res.cloudinary.com/dd7pbokmj/image/upload/v1672284849/sharing_jko7sa.svg'); background-size: cover"></div>
      <h2 class="font-semibold text-base mt-4">Why share on Booksie?</h2>
      <p class="text-xs font-light mt-2">Join the fun: share your books with other members.</p>
    </div>

    <div class="card">
      <div class="image h-56" style="background-image: url('https://res.cloudinary.com/dd7pbokmj/image/upload/v1672283535/kids_reading_aiuczh.svg'); background-size: cover"></div>
      <h2 class="font-semibold text-base mt-4">Make new friendships</h2>
      <p class="text-xs font-light mt-2">Share your interests and make new literary friends.</p>
    </div>

  </div>
</div>
