<div class="relative h-80 flex justify-evenly items-center" data-controller="hero">
  <div class="hero-text">
    <h2 class="text-black text-xs tracking-wider my-4"><span class="typed" data-hero-target="motto"></span></h2>
    <h1 class="text-6xl font-bold tracking-tighter">Booksie</h1>
    <p class="mb-8">Connect to your next favorite book.</p>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn-violet-pink-solid'  %>
  </div>
  <div class="hero-image mt-8 hidden md:block">
    <img src="https://res.cloudinary.com/dd7pbokmj/image/upload/v1672260732/clip-reading-books_wvdzex.png" alt="" class="">
  </div>
</div>

<div class="bg-neutral-100 py-16 mt-12">
  <div class="container mx-auto px-4">

    <div class="md:flex md:justify-evenly md:items-center">
      <h2 class="text-3xl font-bold leading-10 text-center">Your next chapter, made possible by Book<span class="font-pacifico text-4xl">sie</span></h2>

      <div class="">
        <h2 class="font-medium text-xl text-center md:mt-0 mt-4">Share what you love</h2>
        <p class="text-sm font-light leading-loose mt-4">Indulge your love for books and stories when you become part of Booksie. For those who are drawn to authentic literature.</p>
      </div>

    </div>
  </div>
</div>
