<div class="post-card">
  <%= link_to post_path(post) do  %>
    <div class="h-56 rounded-lg flex justify-center items-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' <%= cl_image_path post.photo.key %> ')">

      <h1 class="text-white font-semibold text-center text-xl text-shadow"><%= post.title %></h1>
    </div>
  <% end %>
</div>
