<div class="regular-container mx-auto text-center">

  <span class="main-title">Get creative: </span><span class="main-subtitle text-violet-400">let's talk about the universe.</span>

  <%= render 'posts/form' %>
</div>
