
<div class="regular-container">
  <h1 class="main-title mt-12 mb-8">Wishlists</h1>
  <div class="text-right">
    <%= link_to "New Wishlist", new_wishlist_path, class: 'btn-violet-solid'  %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
    <% @wishlists.each do |wishlist| %>
      <%= link_to wishlist_path(wishlist) do %>
        <div class="wishlist-card">
          <h2 class="drop-shadow-lg"> <%= wishlist.name %></h2>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
