<div class="regular-container">
  <h1 class="main-title">Add To Your Wishlist</h1>
  <%= simple_form_for (@wishlist) do |f| %>
    <div class="flex flex-col justify-center items-center">
      <%= f.association :list, label: false, input_html: { class: 'devise-form-input hidden' }, selected: params[:link_id] %>
      <%= f.association :book, label: false, input_html: { class: 'devise-form-input' } %>
      <%= f.button :submit, class: 'btn-violet-solid mt-4' %>
    </div>
  <% end %>
</div>
